*{
    margin: 0;
    padding: 0;
}

.formstyle{
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
    
}

button{
   background-color: aqua;
   border-radius: 5rem;
    
}
h1{
    text-align: center;
    color: green;
} 
body{
    text-align: center;
}

.inputstyle{
    /* background-color: rgb(255, 251, 251); */
    /* color: aliceblue; */
    border-radius: 1rem;
}
 label{
    font-weight: bold;
    color: green;
} 
